<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.fmi.ip.trei.coffeetracker">

    <application
        android:name=".CoffeeTracker"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.ACTION_VIEW"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PVTTest"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"/>

        <activity
            android:name=".entry.EntryActivity"
            android:noHistory="true"/>

        <activity
            android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name=".addrecord.AdaugareActivity"/>

        <activity android:name=".addrecord.DetaliiActivity"
            android:parentActivityName=".addrecord.AdaugareActivity"/>

    </application>

</manifest>